<div class="user">
  <h2  (click) ="add($event)">users component</h2>
  <button type="button" class="btn btn-secondary" (click)="clickedName($event)">
    Genera Evento: <span class="badge badge-light"><span (click)="clickedName($event)">{{ value }}</span></span>
  </button>
  <hr>
  <div class="counter">
  Counter: <span class="badge badge-info badge-pill"  (click) ="less($event)">{{ counter }}</span>
  </div>
  <hr>
  <button (click) ="add($event)" class="btn btn-primary btn-sm update">Up!!</button> &nbsp;
  <button (click) ="less($event)" class="btn btn-danger btn-sm update">Down!!</button>
  <br>
</div>