
nav {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(102, 143, 21,155);
    width: 15%;
    height: 92vh;
    max-height: inherit;
}
.column {
    display: inline-block;
    vertical-align: top;
    width: 85%;
    background-color: yellowgreen;
    height: 92vh;
    max-height: inherit;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 10px;
}
footer {
    vertical-align: top;
    width: 100%;
    background-color:black;
    color: white;
    border-color: black;
    position: fixed;
    bottom: 0;
    height: 3vh;
    text-align: center;
    padding: 1px;
    font-size: smaller;
}

.event 
{
    padding: 1px;
    border-color: azure;
    background-color: #111;
    font-weight: bold;
    color: aqua;
}

.info{
    margin: 10px;
    width: 93%; 
}

.radius{border-radius: 5px;}
h4 {
    margin: 10px;
    background-color: white;
    color: #000;
    border-radius: 5px;
    width: 93%;
    text-align: center;
}