<nav>
  <h4>Info Panel</h4>
  <div class="info">
    <div class="card radius" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title" *ngIf="evento_seleccionado.name !== null"> 
          {{ evento_seleccionado.name }} : {{evento_seleccionado.counter }}
        </h5>
        <hr/>
        <pre  class="card-text">{{ string_event }}</pre>
      </div>
    </div>
  </div>
  <div class="info">
  <button (click) ="clean($event)" style="width: 100%;" class="btn btn-light btn-sm update">Clean</button>
  </div>
</nav>

<div class="column">
  <!-- Usuarios dinamincos -->
  <users *ngFor="let user of users" value="{{user.name}}" (value_clicked)="mostrarEvento($event)"></users>
</div>
<footer>
  <p>&copy;2020 Santiago Caamaño</p>
</footer>
<router-outlet>
  
</router-outlet>
